<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link rel="stylesheet" href="/stylesheets/admin.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body>
 
          <div class="container">
            <h1> make project </h1>
            <p>
          
            </p>
            <div class="row">
              <div class="col-md-3">
                <div class="stati turquoise ">
                  <i class="icon-exclamation icons"></i>
                  <div>
                    <!-- <b>0</b> -->
                    <a class="button" href="/addproject">Add project</a>
                  </div> 
                </div>
              </div> 
          
              <div class="col-md-3">
                <div class="stati bg-turquoise ">
                  <i class="icon-trophy icons"></i>
                  <div>
                
                    <a class="button" href="/project"> Project </a>
                  </div> 
                </div>
              </div> 
             
           
           
           
           
            
              <div class="col-md-3">
                <div class="stati bg-pomegranate left">
                  <i class="icon-share-alt icons"></i>
                  <div>
                   
                    <a class="button" href="/login">Go back</a>
                  </div> 
                </div>
              </div> 
        </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>