<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/profile.css">
    <title>Document</title>
</head>
<body>
    <link href='//netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css' rel='stylesheet' type='text/css'/>  

    <!-- <% user.posts.forEach(function(post){%> -->
<div class="profile-card">
  <div class="top-section">

    <div class="pic">
        <img src="/images/uploads/<%= post.image%>" alt="Image Description">
    </div>
    <div class="name">
     
    </div>
    <div class="name id">
      phoneNumber:  <%= post.phoneNumber%>
   
    </div>
    <div class="name id">
      course:   <%= post.course%>
   
    </div>
    
</div>
  <div class="bottom-section">
    <div class="tag course">email:  <%= post.email%> </div> <br> <br>
    <!-- <%})%> -->
            
            
        
<!--     
    <div class="social-media">
     <div class="cards">
       
     </div>

      
    </div>
   
  </div> -->
</div>
</body>
</html>